<mat-sidenav-container autosize>

  <mat-sidenav #drawer 
      fixedInViewport
      [opened]="({isExpanded}) ? 'true' : 'false'"
      mode='side'
      role = 'navigation'>
    
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon fontSet="material-symbols-outlined" class="chevron-button" [class]="{ rotated: isExpanded }">chevron_right</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'dashboard'">
        <mat-icon fontSet="material-symbols-outlined">home</mat-icon>
        @if (isExpanded) {
          <span class="menu-item">Dashboard</span>
        }
      </mat-list-item>

      <mat-list-item [routerLink]="'info'">
        <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
        @if (isExpanded) {
          <span class="menu-item">Info</span>
        }
      </mat-list-item>

      <mat-list-item [matMenuTriggerFor]="menuForm">
        <mat-icon fontSet="material-symbols-outlined">newspaper</mat-icon>
        @if (isExpanded) {
          <span class="menu-item">Forms</span>
        }
      </mat-list-item>   
      <mat-menu #menuForm="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item [routerLink]="'formT'">Templatedriven</button>
        <button mat-menu-item [routerLink]="'formR'">Reactive </button>
      </mat-menu>

      <mat-list-item [routerLink]="'trees'">
        <mat-icon fontSet="material-symbols-outlined">account_tree</mat-icon>
        @if (isExpanded) {
          <span class="menu-item">Trees</span>
        }
      </mat-list-item>   

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="tool-icon">{{title}}</span>
 
      <span class="tool-spacer"></span>
    
      <mat-slide-toggle [checked]="checked" (change)="changed($event)">
        <mat-icon fontSet="material-symbols-outlined">{{thememode}}</mat-icon>
      </mat-slide-toggle>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
